.container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
}

.freelist {
    padding: 5rem; 
    margin: 3.5rem; 
    width: 15rem; 
    margin-top: 9rem;
    overflow: hidden;
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px, rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.freelist:hover {
    -moz-box-shadow: 3px 2px 24px -4px rgba(0, 0, 0, 0.75);
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px, rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.textf {
    color: #5f9ea0;
    margin-right: 4rem;
}

.titlef {
    margin-right: 2rem;
}

.ppf{
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}