

.addp-content{ 
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 800px;
    height: 550px;
    padding: 2rem;
    color: #1b1b1b;
    background-color: rgb(221, 221, 221);
    box-shadow: 5px 10px 30px rgba(15, 15, 15, 0.918);
    text-align: center;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    min-height: 100px;
}

.firstpage{
    display: inline;
    transition: transform .18s ease;
    transform: translateX(10%);
    padding-top: 2rem;
}
.firstpagesecond{
    display: inline;
    transition: transform .18s ease;
    transform: translateX(-150%);
    padding-top: 2rem;
}
.firstpageforth{
  display: inline;
  transition: transform .18s ease;
  transform: translateX(-150%);
  padding-top: 2rem;
}

.firstpageactive{
    transition: transform .18s ease;
    transform: translateX(-145%);
    padding-top: 2rem;
}
.secondpagesecond{
    transition: transform .18s ease;
    transform: translateX(-200%);
    padding-top: 2rem;
}
.secondpageforth{
  transition: transform .18s ease;
  transform: translateX(-200%);
  padding-top: 2rem;
}
.secondpageactive{
    transition: transform .18s ease;
    transform: translateX(-82%);
    padding-top: 2rem;
}
.secondpage{
    transition: transform .18s ease;
    display: inline;
    transform: translateX(150%);
    padding-top: 2rem;
}

.thirdpagesecond{
    transition: transform .18s ease;
    display: inline;
    transform: translateX(-250%);
    padding-top: 2rem;
}
.thirdpage{
    display: inline;
    padding-top: 2rem;
}

.forthpageforth{
  transition: transform .18s ease;
  display: inline;
  transform: translateX(-320%);
  padding-top: 2rem;
}
.fileparents{
  width: 500px;
  display: inline-flex;
  justify-content: center;
  justify-content: space-between;
}
.forthpage{
  display: inline;
  padding-top: 2rem;
}

.parent-skill{
    width: 600px;

}
.skills{
    cursor: pointer;
    position: relative;
    border: solid 1px;
    margin: 1rem;
    margin-top: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .3rem;
    border-radius: 20px;
    background-color: rgba(73, 154, 149, 0.61);
    color: black;
    display:inline-flex;
}
.delete:hover{
    
    transform: scale(1.2);
}
.delete{
    width: .7rem;
}
.add{
    width: .9rem;
    margin-left: -2.5rem;
    color: black;
}
.add:hover{
    
    transform: scale(1.2);
}
.workadd{
    width: .9rem;
    margin-top: .9rem;
    margin-left: -2.5rem;
    color: black;
}
.textarea {
   text-align: center;
    margin-left: 1rem;
    width: 350px;
    height: 35px;
    border-radius: 10px;
    resize:none;
   
  }
  .workparent{
display: inline-flex;

  }
  .workchild1{
margin-right: 2rem;

  }
  .workchild2{
    margin-right: 1rem;
    
  }
  .cvparent{
    width: 450px;
    display: inline-flex;
   
    justify-content: center;
  }
  .eduparent{
    width: 250px;
    display: inline-flex;
    justify-content: center;
    
  }

  .fileparent{
    width: 450px;
    display: inline-flex;
    justify-content: center;
    justify-content: space-between;
  }

  .cv1{
    margin-right: 2rem;
    width: 8rem;
    height: 8rem;
    padding-right: 10rem;
  margin-right: 1rem;
  border-right: solid;
  }
  .cv1 img{
    
    width: 6.5rem;
    height: 7rem;
  }
  .cv1 img:hover{

    transform: scale(1.1);

  }


  .cv2 img{
    width: 4rem;
    height: 4rem;
    opacity: 0.5;
  }
  .cv2:hover img{
    opacity: 0.8;
    transform: scale(1.1);

  }
  .cv2{
    
    display: flex;                
    justify-content: center;      
    align-items: center;          
    box-shadow: rgb(45, 48, 51) 3px 3px 6px 0px inset, rgba(0, 0, 0, 0.5) -2px -2px 5px 1px inset;
    width: 7rem;
    height: 7rem;
    margin-left: 2rem;
  }
  .edu1{

    flex-wrap: wrap;
display: flex;   
justify-content: center;  


  }
  .edu2{
    margin-left: 4rem;
  }

  .overview textarea{
    height: 100px;
    width: 650px
   }
.firstbtn{
  margin-left: -6rem;
}
 .secondbtn{
  margin-left: 0rem;
 }
 .thirdbtn{
  margin-left: 7rem;
 }

  @media (max-width: 550px) {

    .parent-skill{
      width: 450px;
  
  }
  .firstpage{
    transition: transform .18s ease;
    transform: translateX(33%);
}
.secondpage{
  transition: transform .18s ease;
  transform: translateX(150%);

}
.secondpagesecond{
  transition: transform .18s ease;
  transform: translateX(-200%);
}
.secondpageactive{
  transition: transform .18s ease;
  transform: translateX(-68%);
  
}
.thirdpagesecond{
  transition: transform .18s ease;
  transform: translateX(-174%);
  
}
.textarea {
   width: 250px;

 }
 .overview textarea{
  height: 100px;
  width: 450px
 }
  }

  @media (max-width: 450px) {

    .parent-skill{
      width: 450px;
  
  }
  .firstpage{
    transition: transform .18s ease;
    transform: translateX(42%);
}
.secondpage{
  transition: transform .18s ease;
  transform: translateX(150%);

}
.secondpagesecond{
  transition: transform .18s ease;
  transform: translateX(-200%);
}
.secondpageactive{
  transition: transform .18s ease;
  transform: translateX(-60%);
  
}
.thirdpagesecond{
  transition: transform .18s ease;
  transform: translateX(-165%);
  
}
.textarea {
   width: 250px;

 }
 .overview textarea{
  height: 100px;
  width: 450px
 }
  }

  
  

li a {
  text-decoration: none;
  color: #2d2f31;
}

.dropdowns, .dropdownss, .dropdownsfile, .dropdownspic {
  width: 200px;
  background: #bbbbbb;
  position: relative;
}

.dropdowns span, .dropdownss span, .dropdownsfile span, .dropdownspic span {
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
}

.plusedu {
  display: inline;
  margin-left: .5rem;
  margin-top: .5rem;
}

.slide, .sliders, .slidefile, .slidepic {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
  position: absolute;
  background: #bbbbbb;
  z-index: 1;
}

.slide li, .sliders li, .slidefile li, .slidepic li {
  padding: 10px;
  border-top: #000 solid 1px;
  display: inline-flex;
}

.dropdowns:hover .slide, .dropdownss:hover .sliders, .dropdownsfile:hover .slidefile, .dropdownspic:hover .slidepic {
  height: auto;
}

li a {
  text-decoration: none;
  color: #2d2f31;
}

#education-touch, #certification-touch {
  position: absolute; 
  opacity: 0; 
  height: 0px;
}    

#education-touch:checked + .slide, #certification-touch:checked + .sliders {
  height: inherit;
}


.a{
display: inline-block;
margin-left: -20rem;
}

.inputbox {
  position: absolute;
  width: 196px;
margin-top: -5rem;
margin-left: 20rem;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #8f8f8f;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span {
  color: #00bbc5;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0,75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #009194;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputbox input:valid ~i,
.inputbox input:focus ~i {
  height: 44px;
}

.inputurl {
  border: none;
  padding: .8rem;
  border-radius: 1rem;
  background: #d9d9d9;
  box-shadow: 10px 10px 40px #464646a8,
     -0px -0px 10px #3f3f3fc1;
  transition: 0.3s;
  margin-top: 1rem;
  margin-left: -18rem;
 }
 
 .inputurl:focus {
  outline-color: #e8e8e8;
  background: #e8e8e8;
  box-shadow: inset 20px 20px 60px #c5c5c5,
     inset -20px -20px 60px #ffffff;
  transition: 0.3s;
 }

