
.profilepic{
    height: 100%;
    width: 100%;
    background-color: transparent;
    object-fit: cover;
    border-radius: 50%;
    }
    .holder{
      position: fixed;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      top: 0;
      margin-left:2rem;
      z-index: 2;
      transition: 0.6s ease-in-out;
    margin-right: 1rem;
    }
    .profilebox{
      margin-top: -4rem;
      position: fixed;
        display: flex;
        left: 0;
        z-index: 4;
      }
      .morepro{
        margin-top: 5rem;
      }
      .profile-content{
        width: 430px;
        height: 580px;
        border-radius: 20px;
        color: #ffffff;
        background-color: rgba(14, 13, 13, 0.815);
        box-shadow: 5px 10px 30px rgba(15, 15, 15, 0.918);
        text-align: center;
      }
      .ppic {
        height: 100%;
    width: 100%;
    background-color: transparent;
    border-radius: 50%;
    object-fit: cover;
      }
      .pholder{
      position: relative;
      right: -43%;
      width: 4rem;
      height: 4rem;
        border-radius: 50%;
        margin-top: 1rem;
        width: 4rem;
        transition: all 0.5s;
      }
    
      .finprofile{
        border: solid  #97fbfb14 ;
        margin: 1rem;
        height: 85px;
        box-shadow: #97fbfb14  0px 30px 60px -12px inset, #2feeee14 0px 18px 36px -18px inset;
        cursor: pointer;
      }
      .complaint{
        height: 40px;
      }
      .finprofile:hover{
        box-shadow: #97fbfb14  30px 0px 20px -30px inset, #2feeee14 0px -18px 36px 0px inset;
      }
      .finprofile p{
        text-align: center;
        color:#b82222  ;
      }
      .finprofile h6{
        text-align: center;
        color:#3a8a8abd  ;
      }
    
      @media (max-width:1100px){ 
        .holder{
    
        margin-right: 7rem;
        }
      }
     
    