
.applaywhole{
  margin-top: 9rem;

}

.title{
  color: cadetblue;
  text-decoration: underline;
}
.sideline{
  border: #afafaf solid 2px;

  margin-left: 15%;
  border-radius: 20px;

}
.onebyone{
  border-top: #000 solid 2px;
  margin: 0 3rem 0 3rem;
}
.oneby{
  border-top: #000 solid 2px;
  margin: 0 20rem 0 20rem;
}
.by{
  border-top: #000 solid 2px;
  margin: 0 1rem 0 1rem;
}
.leftone{
  border: #afafaf solid 2px;
width: 200px;
margin-left: 10%;
border-radius: 20px;
}

.form{
    display: flex;
    align-items: center;
    margin-top: -20rem;
  }
  .form-content{
    margin-top: 0rem;
    margin: 10rem;
    margin-left: 13rem;
    width: 70rem;
    height: 590px;
    color: #ffffff;
    background-color: rgba(14, 13, 13, 0.815);
    box-shadow: 5px 10px 30px rgba(15, 15, 15, 0.918);
    position: absolute;
    text-align: center;
  }
  .apply-btn {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: cadetblue;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
  }
  

  
  .apply-btn:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }

  
  .apply-btn:hover::before {
    animation: shine 1.5s ease-out infinite;
  }
  
  .apply-btn::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }

  .applied{
    background-color: rgb(128, 130, 130);
  }
  
  @keyframes shine {
    0% {
      left: -100px;
    }
  
    60% {
      left: 100%;
    }
  
    to {
      left: 100%;
    }
  }
  