.postimg{
    background-image: url('../components/images/post.svg');
    background-repeat: no-repeat; 
    background-position:right ;
    background-size: 18em;
}
.post{
    margin-right: 100px;
    text-align: center;
   
    --input-hovered-color: #6b63ff9d;
    position: relative;
    
}

.post-input {
    color: #050505;
    font-size:1rem;
    /*background-color: rgba(37, 35, 35, 0.39); */
    width: 50%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    margin-bottom: 10px;
    border-radius: 20px;
   }
   
   .post-input:hover {
    background: var(--input-hovered-color);
   }
   
   .post-input:focus {
    outline: none;
   }

.post-h1{
  margin-top: 5rem;
    color:#6C63FF;
}

.btn-save {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  }
  .btn-save:hover {
    letter-spacing: 3px;
    background-color: #6C63FF;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(34, 15, 68) 0px 7px 29px 0px;
  }
  
  .btn-save:active {
    letter-spacing: 3px;
    background-color: #6C63FF;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(34, 15, 68) 0px 7px 29px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }


.post-div{
  display: none;
}
.post-div.active{
  display: block;
}



  button {
    border: none;
  }
  
  .c-button {
    background: linear-gradient(140deg, rgb(75, 200, 200) 0%, rgb(27, 115, 109) 100%);
    border-radius: 45px;
    font-size: 25px;
    text-align: left;
    padding: 8px 0px 8px 0px;
    box-shadow: -6px -5px 18px rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }
  
  .c-button .c-main {
    border-radius: 45px;
    color: rgba(255, 255, 255, 1);
    padding: 11px 25px 11px 2px;
    box-shadow: inset 0px 0px 5px rgba(17, 17, 17, 0);
    transition: all 0.5s ease-in-out;
   
  }
  
  .c-ico .c-blur {
    background: linear-gradient(318deg, rgb(75, 200, 190) 0%, rgb(31, 145, 139) 100%);
    border-radius: 100%;
    margin-left: 0;
    padding: 8px 23px;
    filter: blur(1px);
    text-align: center;
  }
  
  .c-ico {
    position: relative;
    margin-right: 20px;
  }
  
  .c-ico .ico-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Hovering */
  
  .c-button .c-main:hover {
    box-shadow: inset 0px 0px 5px rgba(17, 17, 17, 0.6);
    border: 1px solid rgba(255, 253, 253, 0.5);
    color: rgba(255, 255, 255, 0.5);
  }


  

  .radiocontainer {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,50%);
    display: flex;
    margin-top: 5rem;
  }
  
  .radiobox {
    width: 200px;
    height: 100px;
    border: 1px solid #ccc;
    display: flex;
  }
  
  .radioleft-side, .radioright-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .radioleft-side {
    background-color: #f0f0f0; /* Background color for the left side */
  }
  
  .radioright-side {
    background-color: #fff; /* Background color for the right side */
  }
  
  .image {
    max-width: 100%;
    max-height: 100%;
  }
  
  @media (min-width:1100px) {

  .toggle-div{
  position: absolute;
  margin-right: -6rem;
  
}
.both{
  margin-top: 8rem;
  margin-right: -9rem;
}
  }

  .toggle-div p{
    display: inline-block;
  }

  .toggle-button-cover {
    display: inline;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
  }
  
  .button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
  }
  
  .button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
  }
  
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .buttont {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
  }
  
  .checkboxt {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #fcebeb; /* Default background color for "No" state */
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  .buttont.r,
  .buttont.r .layer {
    border-radius: 100px;
  }
  
  #button-3 .knobs:before {
    content: "NO"; /* Default content for "No" state */
    position: absolute;
    top: 4px;
    left: 42px; /* Position for "No" state */
    width: 30px;
    height: 27px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #f44336; /* Background color for "No" state */
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  }
  
  #button-3 .checkboxt:active + .knobs:before {
    width: 46px;
    border-radius: 100px;
  }
  
  #button-3 .checkboxt:checked:active + .knobs:before {
    margin-left: -26px;
  }
  
  #button-3 .checkboxt:checked + .knobs:before {
    content: "YES";
    left: 4px;
    background-color: #03a9f4;
  }
  
  #button-3 .checkboxt:checked ~ .layer {
    background-color: #ebf7fc;
  }
  