.postimg{
    background-image: url('../components/images/post.svg');
    background-repeat: no-repeat; 
    background-position:right ;
    background-size: 18em;
}
.post{
    margin-right: 100px;
    text-align: center;
   
    --input-hovered-color: #6b63ff9d;
    position: relative;
    
}

.post-input {
    color: #050505;
    font-size:1rem;
    /*background-color: rgba(37, 35, 35, 0.39); */
    width: 50%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    margin-bottom: 10px;
    border-radius: 20px;
   }
   
   .post-input:hover {
    background: var(--input-hovered-color);
   }
   
   .post-input:focus {
    outline: none;
   }

.post-h1{
    color:#6C63FF;
}

.btn-save {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
  }
  .btn-save:hover {
    letter-spacing: 3px;
    background-color: #6C63FF;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(34, 15, 68) 0px 7px 29px 0px;
  }
  
  .btn-save:active {
    letter-spacing: 3px;
    background-color: #6C63FF;
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(34, 15, 68) 0px 7px 29px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  /*
  .btn-save:hover::before {
    transform: scaleX(1);
  }
  
  .btn-save-content {
    position: relative;
    z-index: 1;
  }
  
  .btn-save::before {
    content: "Posted";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.175s;
  }
*/