.wholeTask{
    width: 100vw;
    overflow-x: hidden; 
    display: grid;
    height: 100vh; 
    grid-gap: 0;
    grid-template-columns: auto 340px;
    grid-template-areas: 
        "main side";
}

.main{
    grid-area: main;
    overflow-y: auto; 
    height: 100vh; 
    background-color: #f5feffc0;
}

.sidetask{
    grid-area: side;
    overflow-y: auto; 
    height: 100vh; 
    border: solid #8d8d8dc7;
    position: sticky;
    top:0;
    background-color: #97c5c6;
}

#applications{
    padding: 4rem;
    background-color: #569293;
}

#hired{
    padding: 2rem;
    background-color: #5aa0a1;
}
.container {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    
}


.applylist {
    margin: 3.5rem; 
    width: 20rem; 
    margin-top: 7rem;
    overflow: hidden;
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px, rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.applylist:hover {
    -moz-box-shadow: 3px 2px 24px -4px rgba(0, 0, 0, 0.75);
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px, rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.textf {
    color: #5f9ea0;
    margin-right: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.titlef {
    margin-right: 2rem;
}


.taskblock{

    margin-top: 5rem;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: -4rem;
   height: 3rem;
   overflow: hidden;
   border-radius: .2rem;
   box-shadow:rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px, rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  
}
#applications{
min-height: 100vh;
}
#hired{
    min-height: 100vh;
    }


.btn-job1 {
    margin-left: 30rem;
    margin-top: -7rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: cadetblue;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    z-index: -1;
    height: 45px;
  }
.more{
    padding-block: 0.5rem;
    padding-inline: 1.8rem;
    background: linear-gradient(140deg, rgb(75, 200, 200) 0%, rgb(27, 115, 109) 70%);
}
.more1{
    background: linear-gradient(140deg, rgb(75, 200, 200) 0%, rgb(27, 115, 109) 80%);
}
.report-section{
    width: 250px;
    height: 300px;
    margin: 2rem ;
}
.bullet-section{
    height: 300px; 
    width: 735px;
    transform: translate(20%,30%);

}
.line{
    margin: 2rem ;
    border: solid #5f9ea09c 10px;
}
.list{
    display: flex;
    gap: 7rem; 
}

.list img{
    width: 60px;
    border: solid 1px;
    border-radius: 50%;

}
.itemList{
    margin-left:2rem ;
}
.percent{
    width: 60px;
    height: 60px;
    border: solid 1px #5f9ea09c;
    border-radius: 50%;
    margin-top: -4.5rem;
    margin-bottom: 1rem;
    background-color: #499093c2;
}
.percent p{
    margin-top: 1rem;
    color: #fff;
}
.bubles{
    width: 130px;
    transform: translateX(60%);
    margin: 2rem;
    border-radius: 10px;
    color: #fff;
}
.bubles p{
    margin-top: 9px;
    padding: 8px;
    cursor: pointer;
}
.bubles a{
    color: #fff;
}
.hire{
    background-color: #1d485cda;
}
.hire :hover{
    background-color: #0089c9da;
    border-radius: 10px;
}
.app{
    background-color: #821f1fda;
}
.app :hover{
    background-color: #c60000da;
    border-radius: 10px;
}


.wholeposthist{
    padding-top: 2rem;

   
}
.mainpostHis{
    padding: 1rem; 
    background-color: #048d8d;
    padding-bottom: 5rem;
}
.chartpost{
    width: 500px;
    display: inline-block;
    margin-top: -15rem;
    transform: translate(50%,20%);
    color: #fff;
}
.linepost{
    border: solid 2px;
}



