/* Popup container */
.confirm{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
    width: 450px;
   transform: translate(-50%,-50%);
    border-radius: 20px;
    color: #ffffff;
    background-color: rgba(14, 13, 13, 0.815);
    box-shadow: 5px 10px 30px rgba(15, 15, 15, 0.918);
    position: absolute;
    text-align: center;
    padding: 1rem;
}

/* Popup box */

/* Popup header */
.popupc h2 {
    margin-top: 0;
}

/* Popup buttons */
.popup-buttonsc {
    margin-top: 20px;
}

.popup-buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#confirm-button {
    background-color: #4CAF50;
    color: white;
}

#cancel-button {
    background-color: #f44336;
    color: white;
}

/* Show popup */
.popupc-container.show {
    visibility: visible;
    opacity: 1;
}
